html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    touch-action: manipulation;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: inherit;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
button,
select,
select > option,
input,
textarea {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
}
input:focus,
textarea:focus {
    outline: none;
}
button:hover {
    cursor: pointer;
}
button {
    border: none;
}
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 1320px) {
    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select:focus,
    textarea {
        font-size: 16px !important;
    }
}
