@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
    /* Colors */

    --calori-color-bg-primary: rgb(33, 55, 53);
    --calori-color-bg-secondary: rgb(232, 250, 238);
    --calori-color-bg-third: rgb(243, 243, 243);
    --calori-color-bg-fourth: rgb(211, 211, 211);
    --calor-color-bg-fifth: rgb(225, 242, 231);
    --calori-color-text-primary: rgb(102, 102, 102);
    --calori-color-text-secondary: rgb(0, 0, 0);
    --calori-color-text-third: rgb(255, 255, 255);
    --calori-color-text-fifth: rgb(33, 55, 53);
    --calori-color-button-anim: rgb(46, 67, 65);

    /* Measures */
    --calori-container-width: 1440px;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
}

#wrapper {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

._container {
    padding: 0 20px;
}

.submenu {
    overflow: hidden;
    transition: height 0.3s ease;
}


.us-none {
    user-select: none;
}

/*-------------------------------- Decor line --------------------------------*/
.decor-line {
    position: relative;
    overflow: hidden;
    width: var(--calori-container-width);
    margin: 0 auto;
    max-width: 100%;
    height: 1px;
}
.decor-line span {
    display: block;
    width: 100%;
    height: 100%;
    background: var(--calori-color-bg-fourth);
}

/*-------------------------------- Swiper global styles --------------------------------*/

.swiper-pagination {
    position: static;
    user-select: none;
}
.swiper-pagination-bullet-active {
    background: var(--calori-color-bg-primary);
}
/*-------------------------------- Buttons --------------------------------*/

.btn-solid {
    position: relative;
    background: var(--calori-color-bg-primary);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
}
.btn-solid::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform: translateY(100%);
    background: var(--calori-color-button-anim);
}
.btn-solid:hover::before {
    animation: showSolidBtnAnim 0.3s ease forwards;
}
.btn-solid:not(:hover)::before {
    animation: closeSolidBtnAnim 0.3s ease forwards;
}
@keyframes closeSolidBtnAnim {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
@keyframes showSolidBtnAnim {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.btn-transparent {
    display: inline !important;
    position: relative;
    width: auto !important;
    overflow: hidden;
}
.btn-transparent::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #ffff;
}

.btn-transparent::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background: #ffff;
}

.btn-transparent:hover::before {
    animation: openTransparentBtnBefore 0.5s ease forwards;
    animation-delay: 0.3s;
}
.btn-transparent:hover::after {
    animation: closeTransparentBtnAfter 0.5s ease forwards;
}

@keyframes openTransparentBtnBefore {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes closeTransparentBtnAfter {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

.btn-medium {
    font-size: 14px;
    padding: 11px 17px;
}

.btn-small {
    font-size: 13.5px;
    font-weight: 500;
}

.btn-text {
    display: block;
    position: relative;
    z-index: 1;
}

@media (min-width: 1330px) {
    .btn-medium {
        padding: 11px 22px;
    }
}
/*-------------------------------- Announcement bar --------------------------------*/

.announcement {
    display: block;
    padding: 0.625rem 0;

    background: var(--calori-color-bg-primary);
}
.announcement__content {
    display: flex;
    align-items: center;

    padding: 0.625rem 0;
}
.announcement__item {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    color: var(--calori-color-text-third);

    position: relative;
}
.announcement__icon {
    width: 27px;
    height: 27px;
    margin-left: 1.25rem;
}
.announcement__icon img {
    height: 100%;
    width: 100%;
}
.announcement__heading {
    font-size: 0.875rem;
    margin-left: 0.625rem;
    font-weight: 600;
    text-transform: uppercase;
}

/*-------------------------------- Header --------------------------------*/

#header {
    position: relative;
    min-height: 72px;
}

.header {
    display: block;
    height: 100%;
    padding: 15px 0;
    position: relative;
    top: 0;
    z-index: 10;
    background: #ffff;
}

.header.hide {
    animation: hideCompactHeader 0.2s ease forwards;
}

.header.scrolled {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 72px;
    animation: showCompactHeader 0.2s ease forwards;
}

@keyframes showCompactHeader {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes hideCompactHeader {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
.header__container {
    height: 100%;
}
.header__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}
.header__burger {
    position: absolute;
    left: 0;
    top: 0;
    width: 23px;
    height: 100%;
}
.header__burger span {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background: var(--calori-color-text-secondary);
}
.header__burger::before {
    content: "";
    position: absolute;
    left: 0;
    top: 14px;
    width: 100%;
    height: 2px;
    background: var(--calori-color-text-secondary);
}
.header__burger::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 100%;
    height: 2px;
    background: var(--calori-color-text-secondary);
}
.header__logo {
    width: 170px;
    height: 42px;
}
.header__logo img {
    width: 100%;
    height: 100%;
}
.header__icons {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.header__icon {
    width: 25px;
    height: 25px;
}
.header__icon svg {
    width: 100%;
    height: 100%;
}
.header__drawer {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.header__navigation {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding-left: 25px;
}

.header__menu {
    height: 100%;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    z-index: 5;
}
.header__item {
    position: relative;
    padding: 20px 0;
}
.header__item::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 0%;
    height: 1px;
    z-index: 10;
    transform: translateY(12px);
    background: var(--calori-color-text-secondary);
    transition: width 0.5s ease;
}
.header__item:hover {
    cursor: pointer;
}
.header__item:hover::before {
    width: 100%;
}
.header__item:not(:first-child) {
    margin-left: 25px;
}

.header__submenu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    width: 180px;
    transform: translateX(-4px);
    background: #ffff;
    border-radius: 7px;
    z-index: 5;
    transition: height 0.3s ease, padding 0.3s ease;
    font-weight: 500;
}
.header__submenu._active {
    padding-top: 20px;
}
.header__submenu li {
    padding: 10px 5px;
    padding-left: 14px;
    transition: background 0.3s ease;
}
.header__submenu li:last-child {
    margin-bottom: 20px;
}
.header__submenu li:hover {
    background: var(--calori-color-bg-third);
    cursor: pointer;
}
.header__submenu li a {
    display: block;
}
/*-------------------------------- Header mobile nav --------------------------------*/
.navigation {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: #ffff;
    transition: left 0.4s ease;
    overflow: auto;
    padding-bottom: 40px;
}
.navigation._active {
    left: 0;
}
.navigation__content {
}
.navigation__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.navigation__logo {
    width: 170px;
    height: 41px;
}
.navigation__logo img {
    width: 100%;
    height: 100%;
}
.navigation__button {
    display: flex;
    align-items: center;
    height: 20px;
    width: 20px;
    position: relative;

    transition: transform 0.3s ease;
}
.navigation__button button {
    position: relative;
    width: 100%;
    height: 100%;

    padding: 0;
    border: 0;
    background: none;
}

/* .navigation__button:hover {
    transform: rotate(-180deg);
} */
.navigation__button::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 2px;
    background: #000;
    transform: translate(-50%, -100%) rotate(-45deg);
    transition: transform 0.3s ease;
}
.navigation__button::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 2px;
    background: #000;
    transform: translate(-50%, -100%) rotate(45deg);
    transition: transform 0.3s ease;
}

.navigation__menu {
    font-weight: 500;
    font-size: 22px;
}
.navigation__menu li a {
    display: block;
    padding: 20px 0;
}
.navigation__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation__open {
    visibility: hidden;
    display: flex;
    align-items: center;
    width: 14px;
    height: 14px;
}
.navigation__open button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    position: relative;
    transition: transform 0.4s ease;
}
.navigation__open button._active {
    transform: rotate(-180deg);
}

.navigation__open button._active::after {
    opacity: 0;
}

.navigation__open button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background: #000;
}
.navigation__open button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    width: 100%;
    height: 1px;
    background: #000;
    transition: opacity 0.4s ease;
}
.navigation__submenu {
    font-size: 16px;
    font-weight: 500;
}
.navigation__options {
    margin-top: 20px;
    font-weight: 500;
}
.navigation__options li:not(:first-child) {
    margin-top: 10px;
}

@media (min-width: 460px) {
    .navigation {
        width: 400px;
    }
    .header__drawer._active {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.4s ease;
    }
}

@media (min-width: 1470px) {
    .navigation,
    .header__burger {
        display: none;
    }
    .header__navigation {
        display: block;
    }
    .header__menu {
        display: flex;
        align-items: center;
    }
}

/*-------------------------------- Head-section --------------------------------*/

.head-section {
    position: relative;
}
.head-section__container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.head-section__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    width: auto;
    color: var(--calori-color-text-third);
}
.head-section__title {
    width: 80%;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    line-height: 1;
}
.head-section__subtext {
    margin-top: 16px;
    font-size: 15px;
    font-weight: 500;
}
.main-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 16px;
}
.main-buttons__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.main-buttons__item:not(:first-child) {
    margin-top: 16px;
}
.main-buttons__item a {
    display: block;
    width: 100%;
    text-align: center;
}
.head-section__image {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.head-section__image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.head-section__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 480px) {
    .head-section__wrapper {
        padding: 80px 0;
    }
    .main-buttons {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
    }
    .main-buttons__item {
        width: auto;
    }
    .main-buttons__item:not(:first-child) {
        margin-top: 0;
        margin-left: 16px;
    }
}

@media (min-width: 1020px) {
    .head-section__wrapper {
        flex: 0 1 70%;
    }
    .head-section__title {
        font-size: 40px;
    }
}

@media (min-width: 1330px) {
    .head-section__title {
        font-size: 45px;
    }
}

@media (min-width: 1820px) {
    .head-section__title {
        font-size: 50px;
    }
    .head-section__wrapper {
        flex: 0 1 60%;
    }
}

/*-------------------------------- Info section --------------------------------*/
.info {
    padding: 20px 0;
}
.info-slide__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

.info-slide__text {
    text-align: center;
    font-size: 13px;
    color: var(--calori-color-text-primary);
    margin-top: 10px;
}

.info-swiper__pagination {
    margin-top: 20px;
}

.info__container {
    display: none;
    width: var(--calori-container-width);
    max-width: 100%;
    margin: 0 auto;
}
.info__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.info__item {
    flex: 0 0 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
}

.info__item:nth-child(n + 4) {
    margin-top: 40px;
}

.info__image {
    width: 40px;
    height: 40px;
}

.info__image img {
    height: 100%;
    width: 100%;
}

.info__text {
    margin-top: 20px;

    text-align: center;
    color: var(--calori-color-text-primary);
    font-size: 17px;
}

@media (min-width: 765px) {
    .info {
        padding: 60px 0px;
    }
    .info__container {
        display: block;
    }
    .info-swiper {
        display: none;
    }
    .info__image {
        width: 50px;
        height: 50px;
    }
}

/*-------------------------------- Meals section --------------------------------*/
#meals {
    padding: 60px 0;
}
.meals {
}
.meals__container {
    width: var(--calori-container-width);
    max-width: 100%;
    margin: 0 auto;
}
._container {
}
.meals__content {
}
.meals__title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.meals__title h1 {
    font-weight: 400;
}
.meals__days {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.meals__days li {
    flex: 1 1 calc(100% / 7);
    padding: 0 5px;
}
.meals__days li:not(:first-child) {
}
.meals__days li button {
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: var(--calori-color-text-fifth);
    font-weight: 500;
    background: var(--calor-color-bg-fifth);
    transition: color 0.3s ease, background 0.3s ease;
}
.meals__days li button._active {
    color: var(--calori-color-text-third);
    background: var(--calori-color-bg-primary);
}
.meals__days li button:hover {
    color: var(--calori-color-text-third);
    background: var(--calori-color-bg-primary);
}
.meals-slide__content {
    padding: 20px;
}
.meals-slide__image {
    position: relative;
    padding: 20px;
    background: var(--calor-color-bg-fifth);
    border-radius: 15px;
}
.meals-slide__image:hover {
    cursor: pointer;
}
.meals-slide__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.meals-slide__info {
    margin-top: 17px;
}
.meals-slide__title {
}
.meals-slide__description {
}

.meals-swiper__pagination {
}

.meals-popup {
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    transition: visibility 0.3s ease, opacity 0.3s ease;
}

.meals-popup._active {
    visibility: visible;
    opacity: 1;
}

.meals-popup__image {
    user-select: none;
    transform: scale(0.3);
    width: 50%;
    height: 50%;
    transition: transform 0.3s ease;
}
.meals-popup._active .meals-popup__image {
    transform: scale(1);
}
@keyframes closePopup {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.3);
    }
}
.meals-popup__image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

@media (max-width: 980px) {
    .meals-popup__image {
        width: 90%;
        height: 90%;
    }
}
